<%- include('partials/head') %> 
    <link rel="stylesheet" href="./css/estilosEstadisticas.css">
    <title>Estadísticas</title>
</head>
<body>
    <%- include('partials/header') %> 

    <h1>Estadísticas de OP - LS</h1>
    <table class="centered-table" id="tablaEstadisticasLs"> 
        <thead> 
            <tr> 
                <th>Producto</th> 
                <th>Total Importado</th> 
                <th>Total Devuelto</th> 
                <th>Porcentaje Fallados</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% if (estadisticasLs && estadisticasLs.length > 0) { %>
                <% estadisticasLs.forEach(estadistica => { %> 
                    <tr> 
                        <td><%= estadistica.producto %></td> 
                        <td><%= estadistica.total_importado %></td> 
                        <td><%= estadistica.total_devuelto %></td> 
                        <td><%= estadistica.porcentaje_fallados %>%</td> 
                    </tr> 
                <% }) %> 
            <% } else { %>
                <tr>
                    <td colspan="4">No hay datos disponibles</td>
                </tr>
            <% } %>
        </tbody> 
    </table>
    <button id="descargarExcelLs">Excel LS</button>
    
    <h1>Estadísticas de OP - TJ</h1>
    <table class="centered-table" id="tablaEstadisticasTj"> 
        <thead> 
            <tr> 
                <th>Producto</th> 
                <th>Total Importado</th> 
                <th>Total Devuelto</th> 
                <th>Porcentaje Fallados</th> 
            </tr> 
        </thead> 
        <tbody> 
            <% if (estadisticasTj && estadisticasTj.length > 0) { %>
                <% estadisticasTj.forEach(estadistica => { %> 
                    <tr> 
                        <td><%= estadistica.producto %></td> 
                        <td><%= estadistica.total_importado %></td> 
                        <td><%= estadistica.total_devuelto %></td> 
                        <td><%= estadistica.porcentaje_fallados %>%</td> 
                    </tr> 
                <% }) %> 
            <% } else { %>
                <tr>
                    <td colspan="4">No hay datos disponibles</td>
                </tr>
            <% } %>
        </tbody> 
    </table>
    <button id="descargarExcelTj"> Excel TJ</button>

    <%- include('partials/footer') %> 
    <script src="./js/descargarExcel.js"></script>
</body>
</html>


